* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .intro-header {
    background: linear-gradient(
      to right,
      #dddd6800,
      #dddd6846,
      #dddd6831,
      #ffffff9a,
      #ffffff77,
      #ffffff33
    ) !important;
    display: grid;
    min-height: 100vh;
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding: 0 2rem;
  }
  
  .logo {
    max-height: 150px; /* Altura máxima del logo */
    width: auto; /* Ajustar automáticamente el ancho */
  }
  
  .auth-buttons {
    display: flex;
    gap: 1.5rem;
  }
  
  .auth-buttons .btn {
    background-color: #fff;
    color: #1a202c;
    border: 2px solid #cac531 !important;
    border-radius: 40px !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    margin-top: -1rem; /* Subir los botones de registro e inicio de sesión */
  }
  
  .auth-buttons .btn:active {
    background: #cac531;
  }
  
  .container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
  }
  
  .intro-content {
    margin: 2rem auto;
    padding: 5rem 0;
    max-width: 1900px; /* Confirmado */
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
  }
  
  .text-content {
    color: white;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .subtitle {
    margin-bottom: 1.75rem;
    font-size: 1.5rem;
  }
  
  .download-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .button-group .btn-app-store,
  .button-group .btn-google-play {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    color: black;
    border: 2px solid #cac531 !important;
    border-radius: 40px !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .button-group .btn-app-store:active {
    background: #cac531;
  }
  
  .button-group .btn-google-play:active {
    background: #cac531;
  }
  
  .button-group img {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .app-preview {
    max-height: 50rem;
    width: 100%;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .intro-details {
    margin: -4rem auto 0;
    border-radius: 0.5rem;
    background: #fff;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
  }
  
  .details-title {
    color: #334155;
    margin-bottom: 1rem;
    font-size: 1.875rem;
    font-weight: 600;
  }
  
  .details-text {
    color: #64748b;
  }
  
  .about-section,
  .features-section,
  .screenshots-section {
    padding: 5rem 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .screenshots-section {
    padding: 20px;
    text-align: center;
  }
  
  .auth-buttons .btn:hover {
    background-color: #cac531;
    transform: scale(1.05);
  }
  
  .about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .about-image {
    width: 100%;
    height: auto;
  }
  
  .about-title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .about-text,
  .key-features-text {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }
  
  .key-features-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .features-list {
    margin-top: 1rem;
    padding-left: 1.5rem;
    list-style: disc;
  }
  
  .benefits-title {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .benefits-text {
    margin-top: 1rem;
  }
  
  .features-title {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    text-align: center;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .feature-card {
    background-color: #f9fafb;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
  }
  
  .feature-card.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .icon-wrapper {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #cac531;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
    color: #1a202c;
  }
  
  .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #64748b;
  }
  
  .screenshots-section {
    margin-top: 4rem;
  }
  
  .screenshots-title {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    text-align: center;
  }
  
  .screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .screenshot {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .screenshot:hover {
    transform: translateY(-10px);
  }
  
  .intro-footer {
    background: linear-gradient(
      to right,
      #dddd6800,
      #dddd6846,
      #dddd6831,
      #ffffff9a,
      #ffffff77,
      #ffffff33
    ) !important;
    color: white;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto;
  }
  
  .download-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .download-footer .btn-app-store,
  .download-footer .btn-google-play {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    color: black;
    border: 2px solid #cac531 !important;
    border-radius: 40px !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .download-footer .btn-app-store:hover,
  .download-footer .btn-google-play:hover {
    background-color: #cac531;
    transform: scale(1.05);
  }
  
  .download-footer .btn-app-store:active {
    background: #cac531;
  }
  
  .download-footer .btn-google-play:active {
    background: #cac531;
  }
  
  .download-footer img {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  @import "~slick-carousel/slick/slick.css";
  @import "~slick-carousel/slick/slick-theme.css";
  
  .screenshots-section {
    padding: 5rem 2rem; /* Ajusta el padding para un mejor espaciado */
    text-align: center;
  }
  
  .carousels {
    display: flex; /* Utiliza flexbox para alinear los carruseles horizontalmente */
    justify-content: space-between; /* Espacia los carruseles horizontalmente */
    gap: 2rem; /* Espacio entre los carruseles */
  }
  
  .carousel {
    flex: 1; /* Permite que los carruseles se expandan para llenar el espacio disponible */
    max-width: 100%; /* Evita que el carrusel exceda el ancho del contenedor */
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden; /* Oculta cualquier desbordamiento de imagen */
    height: 600px; /* Ajusta la altura del carrusel según sea necesario */
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-button.prev {
    left: 0;
  }
  
  .carousel-button.next {
    right: 0;
  }
  
  .qr-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .qr-modal-content {
    background: linear-gradient(
      to right,
      #dddd6800,
      #dddd6846,
      #dddd6896,
      #ffffff9a,
      #ffffff6e,
      #ffffff33
    ) !important;
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 100%; /* Ajusta el tamaño máximo del modal */
    width: 400px; /* Ajusta el tamaño fijo del modal */
    aspect-ratio: 1/1; /* Hace el contenedor más cuadrado */
  }
  
  .qr-image {
    max-width: 100%;
    height: auto;
  }
  
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .btn-close:hover {
    background-color: #666262;
  }
  