
.service-job {
    width: 100%;
    max-width: 900px;
    background: #fff;
    border: 2px solid rgba(255, 255, 225, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.661);
    color: #000;
    border-radius: 10px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 20px;
  }
  
  .create-service-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .create-service-form input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .create-service-form button {
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .create-service-form button:hover {
    background-color: #807e7e; /* Darker green */
  }
  
  .service-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .service-item {
    background-color: #fff;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-item p {
    margin: 5px 0;
  }
  
  .service-item img {
    max-width: 100px;
    margin: 10px 0;
  }
  
  .service-actions {
    display: flex;
    gap: 10px;
  }
  
  .service-actions button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .service-actions button:hover {
    background-color: #e53935; /* Darker red */
  }
  
  .business-owner-search-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .business-owner-search-profile h1 {
    margin: 0;
  }
  
  .business-owner-search-container {
    position: relative; /* Añadido para posicionar correctamente el ícono */
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
  }
  
  .business-owner-search-container input {
    flex: 1;
    padding: 10px 20px 10px 40px; /* Aumentado el padding para dar espacio al ícono */
    border-radius: 5px;
    font-size: 14px;
    background: linear-gradient(to right, #dddd68, #dddd6864, #ffffff);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    border: 2px solid #fff;
  }
  
  /* Añadir media queries para diseño responsivo */
  @media (max-width: 768px) {
    .business-owner-search-profile {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .business-owner-search-container {
      width: 100%;
      margin-top: 10px;
    }
  }
  
  .business-owner-search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #0f0f0fd0;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  
  
  .image-preview {
    margin-left: 20px;
    max-height: 50px; /* Altura máxima de la vista previa de la imagen */
    border-radius: 5px; /* Bordes redondeados para la vista previa de la imagen */
  }
  