.User-form {
    width: 420px;
    background: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 225, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.661);
    color: #000000;
    border-radius: 10px;
    padding: 20px 40px;
    margin: auto;
    margin-top: 100px; 
}



.form-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.form-group .iconlogin {
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: #0f0f0fd0;
}

.form-group input {
    width: 100%;
    height: 45px;
    background: linear-gradient(to right,#dddd68, #dddd6864, #ffffff);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: hsla(0, 4%, 10%, 0.605);
    padding: 10px 20px 10px 45px;
    color: #000000;
    border: 2px solid transparent;
    border: 2px solid #fff;
}

.form-group input::placeholder {
    color: #000000;
}

.form-group input:focus {
    border: 2px solid #cac531;
    box-shadow: none;
    outline: none;
    background: linear-gradient(to right, #dddd6857, #ffffff);
    color: #000000;
}

/* Estilo para valores autocompletados */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: linear-gradient(to right, #dddd6857, #ffffff) !important;
    color: #000000 !important;
    border: 2px solid #cac531 !important;
    border-radius: 40px !important;
    box-shadow: none !important;
    outline: none !important;
}

.form-group button {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.form-group button:active {
    background: #cac531;
}

.login-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 90px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Reducir margen inferior */
    font-size: 12px; /* Reducir tamaño de fuente */
}

.remember-forgot a {
    font-size: 12px; /* Reducir tamaño de fuente del enlace */
}

.register-link {
    text-align: center;
}

.register-link button {
    width: 100%;
    height: 45px;
    background: #dddd68;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}

.register-link button:active {
    background: #cac531;
}
